# Data Structure
- A data structure is a collection of elements that are stored in some way. The most commonly used data structure in
 Python is the sequence.

#### Lists
- Lists are the sequential data structures, as each element in it is placed in a sequential manner.
- List is a collection of items(strings or integers or float values or other list).
- Enclosed in [].
- Each item in the list has an assigned index value and we can directly access the elements using their respective indexes.
- Each item in the list are seperated by commas and the order in which the items are stored is the same as the order in which they are inserted.
- Lists are mutable. It means the items in a list can be modified as per our requirements.

In [1]:
a = [1,2,3,4] #list of int
b = [1,1.2,'a'] #list of multiple data types
c = [[1,1],[2,3]] #list of list
print("a is a data type of: ",type(a))
print("*"*10)
print(type(b))
print(c)
#print(type(c))

a is a data type of:  <class 'list'>
**********
<class 'list'>
[[1, 1], [2, 3]]

In [2]:
#List length
print(len(a))
print(len(c))

4
2

In [3]:
#List insert
#list insert take 2 parameter(index position,value)
a = ['one','three','four']
a.insert(1,'two') #insert element 'two' in position 1
print(a)

['one', 'two', 'three', 'four']

In [4]:
#List remove
#syantax= a.remove('element')
a.remove('two')
print(a)

['one', 'three', 'four']

In [5]:
a = ['one','two','three','two']
a.remove('two') #remove first occurrence of two
print(a)
#if element is not present it throws an error
a.remove('five')

['one', 'three', 'two']

ValueError: list.remove(x): x not in list

In [6]:
#List append and extend
a = ['one','two','three']
a.append('four') #append will add items at end
print(a)

['one', 'two', 'three', 'four']

In [7]:
a = ['one','two','three']
b = ['four','five']
a.append(b) 
print(a)
print(len(a))

['one', 'two', 'three', ['four', 'five']]
4

In [8]:
a = ['one','two']
b = ['three','four']
a.extend(b)
print(a)

['one', 'two', 'three', 'four']

In [9]:
#List Delete
#syntax: del var_name[index]
lst = ['one','two','three']
del lst[0] #first element in list
print(lst)

['two', 'three']

In [10]:
#or we can use pop() method
a = ['one','two','three','four','five']
b = a.pop() #remove last element from list
print(b)

five

In [11]:
a.pop(2) #2nd index of list
print(a) #index starts from 0

['one', 'two', 'four']

In [12]:
#List related keywords in Python
#keyword in used to check whether the item is present in a list
lst = ['apple','ball','cat','dog']
if 'apple' in lst:
    print("Found")
print('-_* '*3)
if 'elephent' in lst:
    print("Found")
else:
    print("Not Found")

Found
-_* -_* -_*
Not Found

In [13]:
if 'hat' not in lst: 
    print("True")

True

In [14]:
#List Reverse
lst = ['one','two','three','four']
lst.reverse() #reverse lst and store within same variable
print(lst)

['four', 'three', 'two', 'one']

In [15]:
#list sorting
a = [1,3,5,4,2]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [20]:
a = [1,3,2,5,4]
b = sorted(a,reverse=True) #reverse=True sort in Descending order, try: sorted(a)
print(b) #assign new variable to sorted list
print(a) #original list remain unchanged
#int and string both in same list cannot be sorted

[5, 4, 3, 2, 1]
[1, 3, 2, 5, 4]

In [22]:
a = [1,1.2,3,2,1.1,'a']
a.sort()
print(a)

TypeError: '<' not supported between instances of 'str' and 'float'

In [33]:
#List having multiple reference
lst = [1,2,3,4,5]
abc = lst
abc.append(6)

In [35]:
print(lst)
#since abc referencing to lst, manipulating abc also affect lst
#print(id(lst))
#print(id(abc))

[1, 2, 3, 4, 5, 6]

In [55]:
#String split to create a list
a = 'one,two,three,four'
b = a.split(',')
print(b)

['one', 'two', 'three', 'four']

In [8]:
a = 'This a example of list split'
b = a.split() #default split is white-character: space or tab
print(b)
#we can also use number and special character as seperator, but these should be present in input string.

['This', 'a', 'example', 'of', 'list', 'split']

In [1]:
#List Slicing
numbers = [10,20,30,40,50,60,70,80,90]
#print all numbers
print(numbers[:])

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [3]:
#print from 1st index to 4th index
print(numbers[1:5]) #exclude 5th character

[20, 30, 40, 50]

In [5]:
print(numbers)
print(numbers[::2]) #step size 2, start,end,stepsize

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 30, 50, 70, 90]

In [6]:
#List extend using + operators
lst1 = [1,2,3,4]
lst2 = ['a','b','c']
print(lst1+lst2)

[1, 2, 3, 4, 'a', 'b', 'c']

In [7]:
#List count
#Counts numbers of occurrence of given element in list
a = [1,2,1,3,4,5,3,5,6]
a.count(3) #frequency of 3 in a

2

In [8]:
#List looping
lst = ['one','two','three','four']
for ele in lst:
    print(ele)

one
two
three
four

### List Comprehensions
- List comprehensions provide a concise way to create lists.
- Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy certain condition.

In [16]:
#without list comprehensions
squares = []
for i in range(10):
    #print(i**2)
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
#with list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
lst = [-20,-10,0,10,20,30,40]
new_lst = [i*2 for i in lst]
print(new_lst)

[-40, -20, 0, 20, 40, 60, 80]

In [21]:
#filter negative number
new_lst = [i for i in lst if i>=0]
print(new_lst)

[0, 10, 20, 30, 40]

In [25]:
#create a list of tuples like (number,square_of_number)
new_lst = [(i,i**2) for i in range(10)]
print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [26]:
#Nested List Comprehensions
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
#transpose of a matrix without list comprehensions
transposed=[]
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [27]:
#with list comprehensions
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### Tuples
- Tuple is a data structure similar to list.
- Only difference is tuples are immutable means once assigned tuples elements cannot be changed.

In [4]:
#empty tuple
a = ()

In [5]:
a = ('name1','name2')
print(type(a))

<class 'tuple'>

In [7]:
#parenthesis is optional 
b = 'name1','name2'
print(type(b))

<class 'tuple'>

In [8]:
#need comma at the end
c = 'name1'
print(type(c))

<class 'str'>

In [9]:
c = 'name1',
print(type(c))

<class 'tuple'>

In [10]:
#nested tuple
a = ('apple',2,['ball','cat'])
print(type(a))

<class 'tuple'>

#### Accessing Elements in a Tuple
- Tuple also supports indexing and slicing similar to a list.

In [11]:
a =('name1','name2','name3','name4')
print(a[2])

name3

In [12]:
print(a[2:4])

('name3', 'name4')

In [13]:
#nested tuple
a = ('tuple1','tuple2',['list1','list2'])
print(a[2][1])

list2

In [14]:
#Slicing
a = (1,2,3,4,5,6,7)
print(a[1:5])

(2, 3, 4, 5)

In [18]:
#print elements from starting to 2nd last elements
print(a[:-2])

(1, 2, 3, 4, 5)

In [20]:
a = a[1:5]
print(a)

(3, 4, 5)

##### Changing elements in Tuple
- Tuples are immutable

In [21]:
a = (1,2,3,4,5)
a[2]=3

TypeError: 'tuple' object does not support item assignment

In [22]:
a = (1,2,3,[4,6,7])
a[3][1]=5 #but can change value of list inside tuple
print(a)

(1, 2, 3, [4, 5, 7])

##### Concatenation of Tuple
- We can perform concatenation of tuples, but the concatenation returns a copy. We cannot perform concatenation operations in place for a tuple.

In [23]:
a = (1,2,3)+(4,5,6)
print(a)

(1, 2, 3, 4, 5, 6)

In [30]:
#repeat the elements in a tuple for a given number of times using * operator.
a = (('mukesh ',)*4)
print(a)

('mukesh ', 'mukesh ', 'mukesh ', 'mukesh ')

##### Deletion of Tuple
- We have to use the del keyword to delete any python object. The same keyword can be used to delete a tuple.

In [31]:
t = (1,2,3,4,5,6)
print(t)
print('**'*10)
del t
print(t)

(1, 2, 3, 4, 5, 6)
********************

NameError: name 't' is not defined

In [33]:
a = (1,2,3,4,5)
del a[2] #unlike list we cannot delete elements from tuple

TypeError: 'tuple' object doesn't support item deletion

##### Tuple count
- The number of occurrences of the given element in a given tuple is obtained using the count() function.

In [34]:
a = (1,2,3,1,4,5,3,7,3)
a.count(1) #how many time ele 1 occurs in variable a

2

##### Finding the index in a tuple
- We use index() method to find out the index of a particular element in a given tuple.
- If the given element occurs multiple times in a given tuple, then it returns the index of the first occurrence of that element in the given tuple.

In [35]:
t = (1,2,3,4,5,6,3)
t.index(3)

2

##### Tuple Membership
- We can check if a given element is present in a tuple, using the 'in' keyword.

In [36]:
a = ('apple','ball','cat','dog')
if 'apple' in a:
    print('Found')

Found

In [37]:
print(7 in a)

False

In [38]:
print('apple' in a)

True

##### Built-In Functions

In [39]:
#Tuple length 
a = (1,2,3,4,5) 
print(len(a)) #return number of elements present in the given tuple

5

##### Tuple sort
- We use the sorted() function to return the sorted form of a tuple. The sorted() function doesnot perform the sort operation in-place. 
- It returns a copy of the sorted form only in the form of a list.

In [45]:
t = (7,6,1,3,2,5,4)
new_t = sorted(t)
print(new_t)

[1, 2, 3, 4, 5, 6, 7]

In [46]:
#Maximum element
#return maximum value elements in a given tuple
t = (1,3,2,4,5,9)
print(max(t))

9

In [47]:
#Minimum element
print(min(t))

1

### Sets
- A set is an unordered collection of items. Every element is unique(no duplicates).
- A set is a mutable data structures. We can add or remove items from it.
- Sets can be used to perform mathmatical set operations like Union, Intersection, Symmetric Difference etc.
- The order in which the elements are inserted into a set is sometimes different from the order in which they are displayed.

In [5]:
#Set creation
s = {1,2,3} #set of integers
print(type(s))
a=set([1,2,3])
print(type(a))
print(a)

<class 'set'>
<class 'set'>
{1, 2, 3}

In [7]:
#initialize a set with set method
s1=set()
print(type(s1))

<class 'set'>

In [8]:
#set doesnot allow duplicates
s = {1,2,3,1,2}
print(s)

{1, 2, 3}

##### Addition of elements to a set
- If we want to add the elements one at a time, then we have to use the add() method, whereas if we want to add more than one element at a time, then we have to use the update() method.
- We can use integers, float values, strings, lists, tuples or combination of these objects as the elements in a set.

In [1]:
s = {1,2}
s.add(3) #adding single element using add()

In [2]:
print(s)

{1, 2, 3}

In [7]:
s1 = {1,2,3}
s1.update([3,4,5]) #add multiple elements using update()
print(s1)

{1, 2, 3, 4, 5}

In [8]:
#add list and set
s2 = {1,2,3}
s2.update([3,4,5],{6,7,8,2})
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

##### Removal of elements from a set
- If we want to remove any random element from the set, then we have to use pop() method. Generally pop throws an error only when the given set is empty.
- If we want tpo remove any particular element from the set, then we have to use either remove() or discard() methods.
- remove() method throws an error if elements is not present in a set.

In [9]:
s = {1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

In [10]:
s = {1,2,3,4,5}
s.remove(1)
print(s)

{2, 3, 4, 5}

In [11]:
#remove() throws error if element is not present in a set
s = {1,2,3,4,5}
s.remove(6)

KeyError: 6

In [14]:
#discard() doesnot thorw any error
s.discard(6)
print(s)

{1, 2, 3, 4, 5}

###### Python set operations
- We majorly perform operations like Union, Intersection, difference and symmetric difference between set.

In [15]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
#union using | operator
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
#or we can use union method
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
#intersection
#using & operator
print(set1&set2)

{4, 5}

In [19]:
#or 
print(set1.intersection(set2))

{4, 5}

In [20]:
#set difference: set that are present in set1 but not in set2
print(set1-set2) #using - operator

{1, 2, 3}

In [21]:
#or 
print(set1.difference(set2))

{1, 2, 3}

In [22]:
#symmetric difference
#elements that are present in both but not common one
print(set1^set2) #using ^ operator
#elements {4,5} are present in both, so they are excluded

{1, 2, 3, 6, 7, 8}

In [25]:
#or we can use symmetric_difference 
print(set1.symmetric_difference(set2))

{1, 2, 3, 6, 7, 8}

In [29]:
#find issubset()
s1 = {1,2,3,4,5}
s2 = {2,3}
print(s1.issubset(s2))

False

In [27]:
print(s2.issubset(s1))

True

In [31]:
print("s2 is subset of s1?",s2.issubset(s1))

s2 is subset of s1? True

###### Frozen Set
- Frozen set are immutable, means once assign we cannot add or remove elements from frozen set.
- Rest mathmatical set operations can be perfromed.

In [32]:
set1 = frozenset([1,2,3,4])
print(type(set1))

<class 'frozenset'>

In [33]:
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [34]:
set2 = frozenset([3,4,5,6])
print(set1&set2) #we can perfrom set operations

frozenset({3, 4})

### Dictionary
- Dictionary is an unordered collection of items.
- In the other data structures discussed so far, we had only the values present in the form of elements/items whereas in a dictionary we have the key:value pairs.
- Similar to the set data structure, as the dictionary is an unordered data structure, we cannot access the elements using indexes.

In [1]:
#Dictionary creation
#empty dictionary
my_dict = {}
print(type(my_dict))

<class 'dict'>

In [6]:
#dictionary with integer keys
d1 = {1: "abc",2:'cdf'}
print(d1[1])

abc

In [12]:
#dictionary with mixed keys
d2 = {1:'abc','ab':23}
print(d2['ab'])
print(type(d2))
d4 = {'name':'Mukesh',1:['abc','xyz']}
print(d4[1])

23
<class 'dict'>
['abc', 'xyz']

In [9]:
#create empty dictionary using dict()
d3 = dict()
print(type(d3))

<class 'dict'>

In [10]:
#create dictionary with list of tuples
dict1 = dict([(1,'abc'),(2,'cdf')])
print(dict1[2])

cdf

- The items in a dictionary are stored in the form of key:value pairs. The keys of a dictionary should be hashable and no duplicates keys are allowed in a dictionary.
- We can have each key belonging to a different data type and this is supported by a dictionary.
- We can either separately define the key-value pairs inside a dictionary with the keys and values separated by a colon(:), or we can pass the key-value pairs either in the form of tuple or a list.

##### Dictionary Access
- We can access the values from a dictionary with the help of their corresponding keys.
- The syntax for it would be: dictionary_name[key-name]

In [2]:
my_dict = {'name':'mukesh','age':27}
print(my_dict['name'])

mukesh

In [5]:
#if key is not present, this method throw an error
print(my_dict['city'])

KeyError: 'city'

In [4]:
#another way of accessing key
print(my_dict.get('name'))

mukesh

In [6]:
#get method return none, if key is not present
print(my_dict.get('city'))

None

###### Add or Modify the dictionary items

In [8]:
my_dict = {'name':'mukes','age':27}
print(my_dict)
print('*'*10)
#update name
my_dict['name']='mukesh' #if we do not have the specdified key in the dictionary, then it creates the key_value pair in the dictionary
print(my_dict)

{'name': 'mukes', 'age': 27}
**********
{'name': 'mukesh', 'age': 27}

In [9]:
#add new key
my_dict['city']='Dhangadhi'
print(my_dict)

{'name': 'mukesh', 'age': 27, 'city': 'Dhangadhi'}

###### Deletion/Removal of elements from a dictionary

In [11]:
#create a dictionary
d = {'name':"Mukesh",'age':27,'city':'Dhangadhi'}
print(d)

{'name': 'Mukesh', 'age': 27, 'city': 'Dhangadhi'}

In [12]:
#remove a particular item
print(d.pop('age'))

27

In [13]:
print(d)

{'name': 'Mukesh', 'city': 'Dhangadhi'}

In [14]:
d = {'name':"Mukesh",'age':27,'city':'Dhangadhi'}
print(d)

{'name': 'Mukesh', 'age': 27, 'city': 'Dhangadhi'}

In [15]:
#remove any key
d.popitem()
print(d)

{'name': 'Mukesh', 'age': 27}

In [16]:
squares = {2:4,3:9,4:16,5:25}
#delete particular key
del squares[2]
print(squares)

{3: 9, 4: 16, 5: 25}

In [17]:
#remove all items
squares.clear()
print(squares)

{}

In [18]:
#delete dictionary itself
del squares

In [19]:
print(squares)

NameError: name 'squares' is not defined

###### Dictionary Methods
- We use the copy() method to return another copy of the given dictionary.
- fromkeys[seq[,v]] -> return a new dictionary with keys from seq and value equal to v(defaults to none)

In [20]:
squares = {2:4,3:9,4:16,5:25}
my_dict = squares.copy() 
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
subjects = {}.fromkeys(['Math','English','Hindi'],0) #try removing ,0
print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

In [25]:
#we use the keys() method to return all the keys in the form of a list
subjects = {1:2,3:4,5:6}
print(subjects.keys())

dict_keys([1, 3, 5])

In [26]:
#we use the values() method to return all the values in the form of a list
print(subjects.values())

dict_values([2, 4, 6])

In [29]:
print(subjects.items()) #return all the key-value pairs in as a list of tuple

dict_items([(1, 2), (3, 4), (5, 6)])

### Strings
- A strings is a sequence of characters.

###### How to create a String?
- Strings can be created by enclosing the characters either inside single quotes or double quotes or triple quotes.
- Mostly we use triple quotes only when we want to represent the multi-line strings or the doc-strings.

In [2]:
mystr = 'Hello'
mystr1 = "Hello"
mystr2 = """Hello"""
print(mystr)
print('*'*10)
print(mystr1)
print('*'*10)
print(mystr2)

Hello
**********
Hello
**********
Hello

######  How to access the characters in a string?
- We can access the individual characters using the indexing and the range of characters using slicing.
- Indexing starts from 0 and ends with the (total length of string-1).
- If we try to access any element with an index outside the above specified range, then it thorws an error.

In [8]:
mystr = 'Hello'
print(mystr[0]) #return first character of string
#print last character using negative indexing
print(mystr[-1])
#slicing from 2nd character to 4th
print(mystr[2:4]) #4th character exclusive

H
o
ll

In [9]:
print(mystr[15])

IndexError: string index out of range

###### How to change or delete a string?
- Strings are immutable objects. It means that once after a string is assigned with some values, it cannot be changed.

In [11]:
mystr = 'Hello'
mystr[4] = 'i'

TypeError: 'str' object does not support item assignment

In [12]:
#in order to delete a string, we use the del keyword followed by the string name
del mystr

In [15]:
print(mystr)

NameError: name 'mystr' is not defined

### String Operations
###### Concatenation
- Concatenation is the process of combining two or more strings into a single string.
- In order to combine the strings, we use '+' operator between two string literals.
- To repeat the given string for a specified number of times, then we have to use '*' operator.

In [22]:
s1 = 'Hello '
s2 = 'Mukesh'
print(s1 + s2)
print(s1*3)

Hello Mukesh
Hello Hello Hello

In [23]:
print((s1)*3)

Hello Hello Hello

###### Iteration through a String
- As a string is a sequence of characters, we can iterate over the sequence each character wise.

In [2]:
count = 0
for char in "Hello World":
    if char=='l':
        count+=1
print(count,' letters found')

3  letters found

###### String Membership test
- We can check if a character/substring is a member/part of the given string.
- We use the 'in' operator to check for this purpose.

In [30]:
print('l' in 'Hello World')

True

In [31]:
print('or'in 'Hello World')

True

In [32]:
print('or' in 'o r ')

False

###### Strings Methods
- We use the lower() function to convert the given string into lowercase.
- We use the upper() function to convert the given string into uppercase.
- split() function to split the given string into a list of strings.
- join() function to combine all the string elements in a given list into a single string format.
- find() function to find out the index of a given character or substring in the given string.
- We can use replace() function with 2 arguments, to replace an old substring with a new substring. But as strings are immutable objects, the replace() function doesnot perform any replacements on the original strings. It just returns a copy of the modified string.

In [5]:

'hello'.upper()

'HELLO'

In [6]:
'Hello'.lower()

'hello'

In [7]:
'This will split all words in a list'.split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [9]:
' '.join(['This','will','join','all','words'])

'This will join all words'

In [10]:
'Good Morning'.find('Mo') #at 5th index

5

In [14]:
'Bad Morning'.replace('Bad','Good')

'Good Morning'

In [17]:
s1 = 'Bad Morning'
print(id(s1))
s1=s1.replace('Bad','Good')
print(id(s1)) #pointing towards different memory location

2346474750192
2346474757552

###### Python Program to check if the input string is palindrome or not

In [20]:
myStr = str(input("Enter a string: "))
#convert them to either lowercase or uppercase
myStr=myStr.lower()
#reverse string
revstr = reversed(myStr)
#check if reverse string is euqal to string
if list(revstr)==list(myStr):
    print("Given String is palindrome")
else:
    print("Given string is not palindrome")

Enter a string: Madam
Given String is palindrome

###### Python program to sort the words in the given string

In [31]:
myStr = "python program to sort words in the given string"
#convert them to list of words
words = myStr.split()
#print(words)
#sort the list
words.sort()
#print(words)
for word in words:
    print(word) #print(word,end=' ') to print it on single line

given
in
program
python
sort
string
the
to
words